<div class="card ml-5">
  <div class="card-body">
    <%= form_with(model: [post, comment.replies.build]) do |form| %>

      <%= form.hidden_field :parent_id %>
      <div class="form-group">
        <%= form.label 'Reply' %>
        <%= form.text_area :comment, class: 'form-control' %>
      </div>
      <%= form.submit 'Submit', class: 'btn btn-primary' %><br>
    <% end %>
  </div>
</div>