
<div class="card my-5">
  <div class="card-body">

  <%= link_to 'Back', root_path %>


  </div>
</div>
<div class="card my-5">
  <div class="card-body">
    <h1>Edit Post</h1>
    <% @posts.each do |post| %>

      <div class="card">
        <div class="card-body">
          <h5 class="card-text"><%= post.user.user_name %></h5>

          <h5 class="card-text"><%= post.title %></h5>
          
          
          <p class="card-text"><%= truncate(post.body, length: 60) %></p>
          <p class="card-text"><%=image_tag post.image.to_s, :size => "208x200" %></p>
          <%= render 'edit', post: post %>

          
    <% end %>
    
    </div>
  </div>
</div>